<!DOCTYPE html>
<html ng-app="app">
	<head>
      <title>CF: Troubleshooting</title>

			<!-- Angular Material -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

      <link type="text/css" rel="stylesheet" href="styles.css">

    	<meta name="viewport" content="initial-scale=1" />
  </head>
  <body ng-controller="faq" layout="column">
		<md-toolbar class="md-toolbar-tools md-whiteframe-z1">
			<h1>Troubleshooting common problems</h1>
		</md-toolbar>

		<md-content layout="row" layout-align="center start">
			<md-content layout-padding layout="column" flex="100" flex-gt-sm="80" flex-gt-md="60" flex-gt-lg="50">

				<md-content class="md-whiteframe-z2 questions">
					<md-list>
						<md-subheader>Module 1</md-subheader>
						<md-list-item ng-click="scroll('module6')">
								<p>Why does this not work?</p>
						</md-list-item>
						<md-list-item ng-click="scroll('2')">
								<p>Why does this not work?</p>
						</md-list-item>
						<md-subheader>Module 1</md-subheader>
						<md-list-item>
								<p>Why does this not work?</p>
						</md-list-item>
						<md-list-item>
								<p>Why does this not work?</p>
						</md-list-item>
						<md-list-item>
								<p>Why does this not work?</p>
						</md-list-item>
						<md-list-item>
								<p>Why does this not work?</p>
						</md-list-item>
						<md-list-item>
								<p>Why does this not work?</p>
						</md-list-item>
					</md-list>
				</md-content><!-- list of questions -->

				<md-content layout-padding>
					<md-subheader>Module 1</md-subheader>
					<p id="2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
					<md-subheader>Module 2</md-subheader>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
					<md-subheader>Module 3</md-subheader>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
					<md-subheader>Module 4</md-subheader>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
					<md-subheader>Module 5</md-subheader>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
					<md-subheader>Module 6</md-subheader>
					<p id="module6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

				</md-content><!-- faq -->

			</md-content><!-- content column -->
		</md-content><!-- row -->

		<!-- Javascript Dependencies -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    <script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>

		<!-- Javascript custom -->
		<script type="text/javascript" src="app.js"></script>

  </body>
</html>
