<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta name="viewport" content="initial-scale=1" />
		<title>WebDev Beginner's Guide</title>

		<!-- Angular Material -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">

		<link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body ng-controller="faqCtrl" layout="column">
		<md-toolbar class="md-toolbar-tools md-whiteframe-z1">
			<h1>WebDev Beginner's Guide</h1>
			<span flex></span>
			<h2 hide-sm ng-cloak>Contribute:</h2>
			<a href="https://github.com/jimbroski/cf_troubleshooting" target="blank" md-button class="md-icon-button" ng-cloak>
				<md-icon>code</md-icon>
				<md-tooltip>Contribute!</md-tooltip>
			</a>
		</md-toolbar>

		<md-content><!-- MAIN  markdown-to-html="test" -->
			<div id="titles" layout="row" layout-align="center start" ng-cloak><!-- TITLES -->
				<md-content flex="100" flex-gt-sm="70" flex-gt-md="60">
					<md-list>
						<md-list-item ng-repeat="q in posts | orderBy:'module'" ng-click="scroll($index)" layout="row">
							<md-subheader layout="column" flex="20"><span>{{q.date}}</span></md-subheader>
							<p layout="column" flex="80">{{q.name}}</p>
						</md-list-item>
					</md-list>
				</md-content>
			</div><!-- //TITLES -->

			<div id="articles" class="md-whiteframe-z3" layout="row" layout-align="center start" ng-cloak><!-- ARTICLES -->
				<md-content flex="100" flex-gt-sm="70" flex-gt-md="60" layout-padding>
          <div ng-repeat="post in all_posts" id="{{$index}}">
						<md-card>
							<md-content layout-padding markdown-to-html="post">
							</md-content>
						</md-card>
					</div>
				</md-content>
			</div><!-- //ARTICLES -->
		</md-content><!-- //MAIN -->

		<md-button id="backtotop" ng-click="scroll('titles')" class="md-fab" aria-label="FAB" ng-cloak>
			<md-icon>keyboard_arrow_up</md-icon>
		</md-button>


		<!-- Javascript Dependencies -->
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>

		<script type="text/javascript" src="bower_components/showdown/dist/showdown.min.js"></script>
		<script type="text/javascript" src="bower_components/ng-showdown/dist/ng-showdown.min.js"></script>

		<!-- Javascript Custom -->
		<script type="text/javascript" src="app.js"></script>

  </body>
</html>
