/* Hide angular template on page load */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* -------------------------- */

body {
  word-wrap: break-word;
}

/* PAGE LAYOUT */
#titles {
  /*max-height: 80vh;*/

  padding-bottom: 20px;
  background-color: #f5f5f5;
}

#titles md-content {
  background-color: transparent;
}

#titles button:hover {
  background-color: rgba(255,255,255,0.4)
}

#titles md-list-item {
  border-bottom: 1px solid #ddd;
}

#articles {
  background-color: #fff;
}

#backtotop {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
/* -------------------------- */

/* MARKDOWN STYLING */

code {
  color: tomato;
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 2px;
}

pre code {
  display: block;
  padding: 10px 5px;
  color: brown;
  overflow: scroll;
  word-wrap: normal;
}

pre code.no-scroll {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */

  overflow: hidden;
}
