/* Hide angular template on page load */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* -------------------------- */

/* PAGE LAYOUT */
#titles {
  padding-bottom: 20px;
  background-color: #f5f5f5;
}

#titles md-content, #titles .md-subheader {
  background-color: transparent;
}

#titles button:hover {
  background-color: rgba(255,255,255,0.4)
}

#titles md-list-item {
  border-bottom: 1px solid #ddd;
}

#titles p {
  line-height: 1.2em;
}

#articles {
  background-color: #fff;
}

#backtotop {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
/* -------------------------- */

/* ANSWER HELPER CLASSES */
.indent1 {
  margin-left: 1em;
}

.indent2 {
  margin-left: 2em;
}

.indent3 {
  margin-left: 3em;
}

.indent4 {
  margin-left: 4em;
}

.red {
  color: tomato;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
.green {
  color: green;
}
.pink {
  color: pink;
}
